//- index.pug
doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title Wendy
    meta(name='description', content='Enabling the creation of a web of trust')
    meta(name='author', content='charlyoleg')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/wendy_style.css?v=1.0')
    link(rel='manifest', href='/manifest.json')
    link(rel='icon', type='image/svg+xml', href='wendy_favicon.svg')
    link(rel='icon', type='image/png', sizes="64x64", href='wendy_favicon_64x64.png')
    link(rel='icon', type='image/png', sizes="256x256", href='wendy_favicon_256x256.png')
  body
    section#entrance
      header
        img(src='wendy_1.png')
        h1 Wendy Start Point
      .button_holder
        button#button_create_profile(type='button') Create a profile
        button#button_load_profile(type='button') Load a profile
    section#entropy
      header
        img(src='wendy_2.png')
        h1 Wendy Entropy
      .button_restart_holder
        button.button_restart(type='button') Restart<br>(back to the first panel)
      .button_holder
        button#button_entropy(type='button') Select a file
    section#profile_loading
      header
        img(src='wendy_3.png')
        h1 Wendy Profile Loading
      .button_restart_holder
        button.button_restart(type='button') Restart<br>(back to the first panel)
      p [Not yet implemented]
      .button_holder
        button#btn_load_profile_local_storage(type='button') Load<br>from<br>local-storage
        button#btn_load_profile_file(type='button') Load<br>from file
        button#btn_load_profile_server(type='button') Load<br>from server
    section#loom
      header
        img(src='wendy_3.png')
        h1 Loom
      .button_restart_holder
        button.button_restart(type='button') Restart<br>(back to the first panel)

      article
        h2 Wendy server (communication server)
        input#server_url(type='text', value='https://localhost:9631')
        button#action_test_server(type='button') Update and test the server
        span#server_status Undefined

      article
        h2 Quantum communication
        article
          h3 Push a quantum-message
          textarea#quantum_msg_push(rows='5', cols='100', maxlength=460)
          br
          button#action_quantum_push(type='button') Push the message
          span#quantum_msg_id_push Undefined
          span#quantum_push_status Undefined
        article
          h3 Pull a quantum-message
          input#quantum_msg_id_pull(type='text', value='abcde-10')
          button#action_quantum_pull(type='button') Pull the message
          span#quantum_msg_pull_status Undefined
          br
          textarea#quantum_msg_pull(rows='5', cols='100', readonly=true)

    footer#apropos
      h1 Apropos
      article
        h2 Description
        p The Wendy-app helps people who meet each other in a crypto-party to exchange their public-keys.

      article
        h2 Around Wendy
        ol(type=1)
          li
            a(href='https://github.com/charlyoleg/wendy') github
          li
            a(href='https://wendy.readthedocs.io/en/latest/') docs
          li
            a(href='https://app.netlify.com/sites/infallible-brahmagupta-743a4c/deploys') continuous-integration
          li
            a(href='https://infallible-brahmagupta-743a4c.netlify.com/') the Netlify instance
          li
            a(href='https://readthedocs.org/projects/wendy/') docs status

      article
        h2 Wendy's fingerprint
        p= 'PWA Wendy Version: ' + fingerprint.version
        p= 'build on: ' + fingerprint.build_date
        p Source code information:
        p= 'git repo: ' + fingerprint.git_repo_name
        p= 'git branch: ' + fingerprint.git_branch_name
        p= 'git commit hash: ' + fingerprint.git_commit_hash
        p= 'git commit author: ' + fingerprint.git_commit_author
        p= 'git commit date: ' + fingerprint.git_commit_date
        p= 'git commit message: ' + fingerprint.git_commit_message

      article
        h2 PWA Wendy Installation
        .action_bar
          button#pwa_uninstall(type='button', disabled=true) Uninstall Wendy
          span#pwa_install_status.action_status The PWA Wendy is not installed on this device
          button#pwa_install(type='button', disabled=true) Install Wendy

      article
        h2 The final words
        p Switch-off internet and meet your friends!

    // The core logic
    script(type='module', src='js/wendy_app.js?v=1.0')
    // The service-worker
    if fingerprint.with_service_worker
      script.
        if ('serviceWorker' in navigator) {
          navigator.serviceWorker.register('./wendy_service_worker.js')
           .then(registration => console.log('wendy service worker installed with scope: ', registration.scope))
           .catch(err => console.error('Error by installing the wendy service worker: ', err));
        } else {
          console.warn('Service Worker not supported in this browser');
        }
